# News filterのテスト、調査

## 入力データ

- trset トレーニングセット（既知データ）
- testset テストセット（未知データ）

In [14]:
import pandas as pd

trset=pd.read_csv("in_tr.csv")
trset

   flg        date   url  wd1  wd2  wd3
0    0  2017/02/20  url1  1.0  2.0  1.0
1    0  2017/02/21  url2  1.0  NaN  NaN
2    1  2017/02/21  url3  2.0  NaN  1.0
3    1  2017/02/21  url4  2.0  1.0  2.0

In [15]:
testset=pd.read_csv("in_test.csv")
testset

         date   url  wd1  wd2  wd3
0  2017/02/20  url1  NaN  1.0  1.0
1  2017/02/21  url2  1.0  1.0  NaN
2  2017/02/21  url3  2.0  NaN  2.0
3  2017/02/21  url4  2.0  1.0  1.0

## [サンプル]ベイジアンフィルタ

http://qiita.com/ynakayama/items/ca3f5e9d762bbd50ad1f

In [10]:

import numpy as np

from sklearn.naive_bayes import GaussianNB

X = np.array([[1,2,3,4,5,6,7,8],
              [1,1,3,4,5,6,6,7],
              [2,1,2,4,5,8,8,8]]) # 特徴ベクトル
y = np.array([1, 2, 3]) # そのラベル
t = np.array([2,2,4,5,6,8,7,8]) # テストデータ

clf = GaussianNB() # 正規分布を仮定したベイズ分類
clf.fit(X, y) # 学習をする
clf.predict(t) # => [3]

C:\Users\user01\Anaconda3\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([1])

## [サンプル] sklearnでナイーブベイズによるテキスト分類にチャレンジ
http://qiita.com/kotaroito/items/76a505a88390c5593eba

In [33]:
import pandas as pd

trset=pd.read_csv("in_tr.csv",  header=None, skiprows=1, names=['flg','date','url','word1','word2','word3']).fillna(0)
trset

   flg        date   url  word1  word2  word3
0    0  2017/02/20  url1    1.0    2.0    1.0
1    0  2017/02/21  url2    1.0    0.0    0.0
2    1  2017/02/21  url3    2.0    0.0    1.0
3    1  2017/02/21  url4    2.0    1.0    2.0

In [34]:
flags=trset['flg']
flags

0    0
1    0
2    1
3    1
Name: flg, dtype: int64

In [35]:
datas=trset.ix[:,3:]
datas

   word1  word2  word3
0    1.0    2.0    1.0
1    1.0    0.0    0.0
2    2.0    0.0    1.0
3    2.0    1.0    2.0

In [44]:

testset=pd.read_csv("in_test.csv").fillna(0)
testdatas=testset.ix[:,2:]
testdatas

   wd1  wd2  wd3
0  0.0  1.0  1.0
1  1.0  1.0  0.0
2  2.0  0.0  2.0
3  2.0  1.0  1.0

In [54]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB


#clf = GaussianNB() # 正規分布を仮定したベイズ分類
clf = BernoulliNB() # ベルヌーイ分布を仮定したベイズ分類
#clf = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True) # 多項分布を仮定したベイズ分類

clf.fit(datas, flags) # 学習をする
res=clf.predict(testdatas)
pd.Series(res)

0    1
1    0
2    1
3    1
dtype: int64

In [55]:
pd.concat([pd.Series(res),trset],axis=1)

   0  flg        date   url  word1  word2  word3
0  1    0  2017/02/20  url1    1.0    2.0    1.0
1  0    0  2017/02/21  url2    1.0    0.0    0.0
2  1    1  2017/02/21  url3    2.0    0.0    1.0
3  1    1  2017/02/21  url4    2.0    1.0    2.0

## 参考URL

* Naive Bayes
http://qiita.com/ynakayama/items/ca3f5e9d762bbd50ad1f
http://universityofbigdata.net/competition/tutorial/5681717746597888

* python dataframe, pandas
http://sinhrks.hatenablog.com/entry/2015/01/28/073327
http://blog.pepese.com/entry/2016/09/04/144109
http://www.mwsoft.jp/programming/numpy/pandas_csv.html
http://keisanbutsuriya.hateblo.jp/entry/2015/12/16/161410#csvファイルをデータフレームとして読み込む
http://sinhrks.hatenablog.com/entry/2014/11/12/233216